.touch {
    background-color: #f3f3f3;
  }
  .touch h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    height: 57px;
    border: 5px solid #f3f3f3;
    text-align: center;
  }
  .touch h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 30px, 30px;
  }
  .touch img {
    margin-left: 200px;
  }
  